@page "/"

<h1>Advent of Code 2020 Solutions</h1>
<h5>by Jamie Magee</h5>

<p style="margin-top: 2em">
    C# solutions for <a href="https://adventofcode.com">Advent of Code 2020</a> using a Blazor WebAssembly runner.<br />
    Use the menu bar to browse solutions.
</p>