html, body {
    margin: 0;
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.body-wrapper {
    max-width: 1280px;
    padding: 24px;
    margin: 0 auto;
}

.mat-drawer {
    border-right-width: 1px;
}