@inherits LayoutComponentBase

<div class="sidebar" style="display: flex; flex-direction: column; width: 350px;">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>