@using AdventOfCode.Web.Services
@using System.Linq
@inject ISolutionHandler SolutionHandler
@inject IVisualizerHandler VisualizerHandler

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AdventOfCode.Web</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="overflow-y: auto">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @foreach (var day in Enumerable.Range(1, 25))
        {
            var href = $"puzzle/{day}";
            if (SolutionHandler.Solutions.TryGetValue(day, out var solution))
            {
                <li class="nav-item px-3" style="line-height: 0; height:auto; padding-top: 0; padding-bottom: 0">
                    <NavLink AdditionalAttributes='new Dictionary<string, object> {{"class", "nav-link"}, {"href", href}, {"style", "display:block; line-height: 1; height:auto; padding-top: 4px; padding-bottom: 4px"}}'>
                        <span>
                            @if (VisualizerHandler.GetVisualizer(solution.Type) != null)
                            {
                                <span class="oi oi-image" title="This solution is also visualized." aria-hidden="true" style="margin-right: -4px"></span>
                            }
                            else
                            {
                                <span class="oi oi-circle-check" aria-hidden="true" style="margin-right: -4px"></span>
                            }
                            Day @day
                        </span><span class="small">@($" - {solution.Title}")</span>
                    </NavLink>
                </li>
            }
        }
    </ul>
    <p style="margin-bottom: 1em;">&nbsp;</p>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}