@using MatBlazor

<MatTabGroup>
    @foreach (var page in Pages.Where(p => p.IsVisible))
    {
        <MatTab Label=@(page.Name)>
            @(page.ChildContent)
        </MatTab>
    }
</MatTabGroup>

<div style="display: none">
    <CascadingValue Name="Parent" Value="this">
        @ChildContent
    </CascadingValue>
</div>