@using MudBlazor

<MudTabs>
    @foreach (var page in Pages.Where(p => p.IsVisible))
    {
        <MudTabPanel Text=@(page.Name)>
            @(page.ChildContent)
        </MudTabPanel>
    }
</MudTabs>

<div style="display: none">
    <CascadingValue Name="Parent" Value="this">
        @ChildContent
    </CascadingValue>
</div>